<h1>@Model["stylist"].GetName()</h1>
<h4>@Model["stylist"].GetAge()</h4>
<p>@Model["stylist"].GetBio()</p>
<hr>
<h2>Clients</h2>
@foreach(var client in @Model["clients"])
{
  <li>@client.GetName() <a href="/stylist/@Model["stylist"].GetId()/client/@client.GetId()/edit">Edit</a>     <a href="/stylist/@Model["stylist"].GetId()/client/@client.GetId()/delete">Delete</a></li>
}
<h3>Add new Clients</h3>
<form action="/stylist/@Model["stylist"].GetId()/client/new" method="post">
  <label for="client-name">Name</label>
  <input type="text" name="client-name">
  <button type="submit">Add</button>
</form>
<a href="/">Back to Index</a>
